@model Games.Controllers.SetupController.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>g_</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="width: 500px; padding-bottom: 50px;">
    <h1 class="page-header">g_ installer</h1>
    @if (@Model.Success) {
        <p class="lead">
            Cool beans! g_ has been successfully installed.
        </p>
        <a class="btn btn-primary btn-lg" href="./">
            Open g_
        </a>
    }
    else {
        <p class="lead">
            This page will help you set up your own installation of g_.
        </p>
        <form method="post">
            <h2>Create default user</h2>
            <p>
                g_ needs at least one user to function. Create your login details here.
            </p>
            @if (@Model.UserError != null) {
                <div class="alert alert-danger">
                    @Html.Raw(@Model.UserError)
                </div>
            }
            <div class="form-group">
                <label>Username</label>
                <input asp-for="Username" class="form-control" placeholder="Something like MrGamer23" required>
                <p class="help-block">
                    This username will be visible in the application to identify your collection.
                </p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input asp-for="Password" class="form-control" placeholder="Something that's not 1234" required>
            </div>
            <h2>Other settings</h2>
            @if (@Model.OtherError != null) {
                <div class="alert alert-danger">
                    @Model.OtherError
                </div>
            }
            <div class="form-group">
                <label>Giant Bomb API key (optional)</label>
                <input asp-for="ApiKey" class="form-control" placeholder="Your API key">
                <p class="help-block">
                    g_ relies on the Giant Bomb game wiki for assisted game creation, making it possible to automatically retrieve most information when adding games to your collection.<br>
                    If you want to use this feature, you need to create a free Giant Bomb account and <a href="http://www.giantbomb.com/api/" target="_blank" rel="noopener noreferrer">request an API key</a>.
                    Without an API key, assisted game creation will be unavailable.
                </p>
            </div>
            <div class="jumbotron">
                <h2>Install g_</h2>
                <p>
                    That's all folks! Time to do this thing!
                </p>
                <button type="submit" class="btn btn-primary btn-lg center-block">Install</button>
            </div>
        </form>
    }
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>